.workarea::after {
    content: "";
    clear: both;
    display: table;
}

.invisible {
  visibility: hidden;
}

.showing {
  visibility: inherit;
}

.evalButtonInTable {
  vertical-align: top;
}

.infoButtonImage {
  background-image: url(../../assets/img/InfoButton.png);
  height: 30px;
  width: 30px;
  background-size: cover;    
  vertical-align: text-top;
}

.infoAnchor {
  padding-left: 270px;
}