<div class="workarea">
    <sudoku></sudoku>
    <control></control>
</div>

<br/>
<button type="button" (click)="doCleanBoard($event)" clickable>Clean Board</button>
<br/>
<br/>
<table>
    <tr>
        <td class="evalButtonInTable">
            <button type="button" [disabled]="!isFillCompleteAllowed()" (click)="doEvaluate()" clickable>Estimate evaluation</button>
        </td>
        <td><table [class]="evaluationClass">
            <tr><td>Last Evaluation:</td></tr>
            <tr><td>{{evaluationState}}</td></tr>
            <tr><td>{{evaluationValue}}</td></tr>
        </table></td>            
    </tr>
</table>
