Sudoku<br/>

<div style="display:flex">
    <sudoku></sudoku>
    <control class="controldiv"></control>
</div>

<br/>

<button type="button" (click)="doFindLonelyCipher($event)" clickable>Find Lonely Cipher</button>
<br/>
<button type="button" (click)="doFindClosedGroup($event)" clickable>Find Closed Group</button>
<br/>
<button type="button" (click)="doFindUniqueCiphers($event)" clickable>Find Unique Cipher</button>
<br/>
<button type="button" (click)="doFillAutomatic($event)" clickable>Fill Automatic</button>
<br/>
<button type="button" (click)="doResolveByTrial($event)" clickable>Trial and Error</button>
<br/>
<br/>
<button type="button" (click)="setTestBoard0($event)" clickable>TestBoard 0</button>
<br/>
<button type="button" (click)="setTestBoard1($event)" clickable>TestBoard 1</button>
<br/>
<button type="button" (click)="setTestBoard2($event)" clickable>TestBoard 2</button>
<br/>
<button type="button" (click)="setTestBoard3($event)" clickable>TestBoard 3</button>
<br/>
