.allowedCipher {
    margin-top: 0px;
    font-size: 8px;
    background-color: lightpink;
    border-width: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
}
.emptyCipher {
    font-size: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 2.5px;
    padding-right: 3px;
}
.errorField {
    background-color: red;
}
.normalField {
    background-color: lightblue;
}
