<table class="box">
    <tr class="boxrow">
        <field [board]="board" [pos]="calcPos(0)" (digitUpdated)="digitChanged($event)" (editChange)="changeEdit($event)"/>
        <field [board]="board" [pos]="calcPos(1)" (digitUpdated)="digitChanged($event)" (editChange)="changeEdit($event)"/>
        <field [board]="board" [pos]="calcPos(2)" (digitUpdated)="digitChanged($event)" (editChange)="changeEdit($event)"/>
    </tr>
    <tr class="boxrow">
        <field [board]="board" [pos]="calcPos(3)" (digitUpdated)="digitChanged($event)" (editChange)="changeEdit($event)"/>
        <field [board]="board" [pos]="calcPos(4)" (digitUpdated)="digitChanged($event)" (editChange)="changeEdit($event)"/>
        <field [board]="board" [pos]="calcPos(5)" (digitUpdated)="digitChanged($event)" (editChange)="changeEdit($event)"/>
    </tr>
    <tr class="boxrow">
        <field [board]="board" [pos]="calcPos(6)" (digitUpdated)="digitChanged($event)" (editChange)="changeEdit($event)"/>
        <field [board]="board" [pos]="calcPos(7)" (digitUpdated)="digitChanged($event)" (editChange)="changeEdit($event)"/>
        <field [board]="board" [pos]="calcPos(8)" (digitUpdated)="digitChanged($event)" (editChange)="changeEdit($event)"/>
    </tr>
</table>
