<table class="box">
    <tr class="boxrow">
        <field class="boxfield" [pos]="calcPos(0)"/>
        <field class="boxfield" [pos]="calcPos(1)"/>
        <field class="boxfield" [pos]="calcPos(2)"/>
    </tr>
    <tr class="boxrow">
        <field class="boxfield" [pos]="calcPos(3)"/>
        <field class="boxfield" [pos]="calcPos(4)"/>
        <field class="boxfield" [pos]="calcPos(5)"/>
    </tr>
    <tr class="boxrow">
        <field class="boxfield" [pos]="calcPos(6)"/>
        <field class="boxfield" [pos]="calcPos(7)"/>
        <field class="boxfield" [pos]="calcPos(8)"/>
    </tr>
</table>
