.showCheatButton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 1px 3px 1px 3px;
    margin: 10px;
}

.showCheatIcon {
    height: 20px;
}
.useCheatButton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 1px 3px 1px 3px;
}
.useOneCheatIcon {
    height: 20px;
}
.useAllCheatButton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 1px 3px 1px 3px;
}
.useAllCheatIcon {
    height: 20px;
}
.cheatLabel {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 80px;
}