.cheatbuttons {
    padding: 5px;
    border-color: black;
    display: block;
    padding: 1px 15px 1px 15px;
}
.digitVisibleBox {
    padding-left: 18px;
    display: block;
}
.applyCheatBox {
    padding-left: 40px;
}
.applyCheatButton {
    width: 128px;
}
.applyFillAllBox {
    padding-left: 18px;
}
.applyFillAllButton {
    width: 150px;
}