<div class="controldiv">
    <span class="headline">Hilfsfunktionen</span>
    <br/>

    <table class="fullwidth">
        <tr><td colspan="9" class="foldheader">
            <input type="checkbox" (change)="onDigitHighlightingChanged($event)"/>Digit Highlighting
        </td></tr>
        <digitHighlighting [isVisible]="digitHighlighting"></digitHighlighting>
    </table>

    <table class="fullwidth">
        <tr><td class="foldheader">
            <input type="checkbox" (change)="onHintVisibilityChanged($event)"/>Cheat-Options
        </td></tr>
        <cheatarea [isVisible]="cheatOptionVisible" class="cheatarea"></cheatarea>
    </table>
    
    <table class="fullwidth">
        <tr><td colspan="2" class="foldheader">
            <input type="checkbox" (change)="onCopyOptionVisibilityChanged($event)"/>Import/Export
        </td></tr>
        <imexport [isVisible]="copyOptionVisible"></imexport>
    </table>

</div>    
