.controldiv {
    width: 200px;
    height: 80%;
    display: block;
    background-color: darksalmon;
    margin: 20px;
}
.boardcopy {
    font-family: monospace, sans-serif;
    font-stretch: 200%;
    width: 100px;
    height: 150px;
    resize: none;
    margin: 1em;
    line-height: 90%;
    overflow: hidden;
}