.controldiv {
    width: 213px;
    height: 100%;
    display: block;
    background-color: darksalmon;
    margin: 0 0 0 20px;
    float: left;
}
.foldheader {
    background-color: brown;
}
.fullwidth {
    width: 100%;
    border-spacing: 1px;
}
.cheatarea {
    display: block;
    border-collapse: collapse;
}
.headline {
    padding-left: 3px;
    font-weight: bold;
}