.controldiv {
    width: 213px;
    height: 100%;
    display: block;
    background-color: darksalmon;
    margin: 0 0 0 20px;
    float: left;
}
.boardcopy {
    font-family: monospace, sans-serif;
    font-stretch: 200%;
    width: 100px;
    height: 150px;
    resize: none;
    margin: 1em;
    line-height: 90%;
    overflow: hidden;
}
.markedDigit {
    background: #d5d5d5;

    border: 1px solid #ccc;
    padding: 3px 5px;
    border-radius: 3px;
    cursor: pointer;

    outline: none;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
}
.unmarkedDigit {
    background: #ededed;
    border: 1px solid #ccc;
    padding: 3px 5px;
    border-radius: 3px;
    cursor: pointer;
}