<ng-template cdkConnectedOverlay 
       [cdkConnectedOverlayOrigin]="trigger"
       [cdkConnectedOverlayOpen]="visible"><div>
    <div>
        <table class="digitselectTable">
            <tr class="nodigitselectRow">
                <td></td>
                <td></td>
                <td><button class="nodigit" (click)="selectDigit($event, -1)">X</button></td>
            </tr>
            <tr class="digitselectRow">
                <td><button class="digitselect" (click)="selectDigit($event, 1)">1</button></td>
                <td><button class="digitselect" (click)="selectDigit($event, 2)">2</button></td>
                <td><button class="digitselect" (click)="selectDigit($event, 3)">3</button></td>
            </tr>
            <tr class="digitselectRow">
                <td><button class="digitselect" (click)="selectDigit($event, 4)">4</button></td>
                <td><button class="digitselect" (click)="selectDigit($event, 5)">5</button></td>
                <td><button class="digitselect" (click)="selectDigit($event, 6)">6</button></td>
            </tr>
            <tr class="digitselectRow">
                <td><button class="digitselect" (click)="selectDigit($event, 7)">7</button></td>
                <td><button class="digitselect" (click)="selectDigit($event, 8)">8</button></td>
                <td><button class="digitselect" (click)="selectDigit($event, 9)">9</button></td>
            </tr>
            <tr class="digitemptyRow">
                <td colspan=3><button class="digitempty" (click)="selectDigit($event, 0)">empty</button></td>
            </tr>
        </table>
    </div>
</div>
</ng-template>