<td *ngIf="isEditing" class="entry">
    <input #digitValue class="cipher" [ngClass]="fieldColor" type="text" [maxLength]="1" pattern="[1-9]"
        [(value)]="contentDigit" (keyup)="onKey(digitValue.value)" (blur)="onEdited()"/>
</td>
<td *ngIf="!isEditing" class="entry">
    <div *ngIf="hasDigit" class="cipher" [ngClass]="fieldColor" (click)="onEdit()">{{contentDigit}}</div>
    <div *ngIf="!hasDigit && !showAllowance" class="emptyField" [ngClass]="fieldColor" (click)="onEdit()">&nbsp;</div>
    <div *ngIf="!hasDigit && showAllowance" class="emptyField" [ngClass]="fieldColor" (click)="onEdit()">
        <table class="emptyFieldTable">
            <tr class="emptyFieldRow">
                <allowed class="allowed" [board]="board" [field]="this.field" [digit]="1"/>                
                <allowed class="allowed" [board]="board" [field]="this.field" [digit]="2"/>                
                <allowed class="allowed" [board]="board" [field]="this.field" [digit]="3"/>                
            </tr>
            <tr class="emptyFieldRow">
                <allowed class="allowed" [board]="board" [field]="this.field" [digit]="4"/>                
                <allowed class="allowed" [board]="board" [field]="this.field" [digit]="5"/>                
                <allowed class="allowed" [board]="board" [field]="this.field" [digit]="6"/>                
            </tr>
            <tr class="emptyFieldRow">
                <allowed class="allowed" [board]="board" [field]="this.field" [digit]="7"/>                
                <allowed class="allowed" [board]="board" [field]="this.field" [digit]="8"/>                
                <allowed class="allowed" [board]="board" [field]="this.field" [digit]="9"/>                
            </tr>
        </table>
    </div>
</td>
