.field {
    font-size: 32px;
    text-align: center;
    padding: 2px;
    width: 37px;
    height: 37px;
    border-width: 0px;
    align-items: start;
}
.entry {
    border-style: solid;
    border-color:green;
    padding: 0;
    vertical-align: top;
}
.allowed {
    display: contents;
}

.emptyFieldTable {
    border-spacing: 1px;
}
.emptyFieldRow {
    display: table-row;
    vertical-align: top;
}

//  returned by fieldColor
.errorField {
    color: black;
    background-color: red;
}
.normalField {
    color: black;
    background-color: lightblue;
}
.editingField {
    color: black;
    background-color: lightgreen;
    height: 37px;
}
.editingErrorField {
    color: red;
    background-color: lightgreen;
    height: 37px;
}
.markedField {
    color: black;
    background-color: blue;
}

