<td class="entry">
    <div *ngIf="isEditing">
        <div class="cipher" [ngClass]="fieldColor" (click)="switchEdit()">{{contentDigit}}</div>
    </div>
    <div *ngIf="!isEditing && hasDigit" class="cipher" [ngClass]="fieldColor" (click)="switchEdit()">{{contentDigit}}</div>
    <div *ngIf="!isEditing && !hasDigit && !showAllowance" class="emptyField" [ngClass]="fieldColor" (click)="switchEdit()">&nbsp;</div>
    <div *ngIf="!isEditing && !hasDigit && showAllowance" class="emptyField" [ngClass]="fieldColor" (click)="switchEdit()">
        <table class="emptyFieldTable">
            <tr class="emptyFieldRow">
                <allowed class="allowed" [board]="board" [field]="this.field" [digit]="1"/>                
                <allowed class="allowed" [board]="board" [field]="this.field" [digit]="2"/>                
                <allowed class="allowed" [board]="board" [field]="this.field" [digit]="3"/>                
            </tr>
            <tr class="emptyFieldRow">
                <allowed class="allowed" [board]="board" [field]="this.field" [digit]="4"/>                
                <allowed class="allowed" [board]="board" [field]="this.field" [digit]="5"/>                
                <allowed class="allowed" [board]="board" [field]="this.field" [digit]="6"/>                
            </tr>
            <tr class="emptyFieldRow">
                <allowed class="allowed" [board]="board" [field]="this.field" [digit]="7"/>                
                <allowed class="allowed" [board]="board" [field]="this.field" [digit]="8"/>                
                <allowed class="allowed" [board]="board" [field]="this.field" [digit]="9"/>                
            </tr>
        </table>
    </div>
</td>
