<table class="fullbox">
    <tr>
        <td class="boxentry"><box [board]="board" [boxId]="0"></box></td>
        <td class="boxentry"><box [board]="board" [boxId]="1"></box></td>
        <td class="boxentry"><box [board]="board" [boxId]="2"></box></td>
    </tr>
    <tr>
        <td class="boxentry"><box [board]="board" [boxId]="3"></box></td>
        <td class="boxentry"><box [board]="board" [boxId]="4"></box></td>
        <td class="boxentry"><box [board]="board" [boxId]="5"></box></td>
    </tr>
    <tr>        
        <td class="boxentry"><box [board]="board" [boxId]="6"></box></td>
        <td class="boxentry"><box [board]="board" [boxId]="7"></box></td>
        <td class="boxentry"><box [board]="board" [boxId]="8"></box></td>
    </tr>
</table>

<cipher></cipher>