.cipher {
    font-size: 32px;
    text-align: center;
    padding: 2px;
    width: 37px;
    background-color: lightblue;
    border-width: 0px;
}
.box {
    border-collapse: collapse;
    border-width: 4px;
    border-style: solid;
    border-color: black;
}
.entry {
    border-style: solid;
    border-color:green;
    padding: 0;
}
.boxentry {
    border-collapse: collapse;
    border-width: 0px;
    border-style: solid;
    border-color: red;
    padding: 0;
    border-spacing: 0;    
    display:inline-table;
}
.fullbox {
    border-collapse: collapse;
    border-width: 4px;
    border-style: solid;
    border-color: orange;
}
